@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;800&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,900&display=swap');

:root {
    --red: hsl(7, 100%, 61%);
    --soft-red: hsl(7, 100%, 93%);
    --yellow: hsl(51, 100%, 49%);
    --soft-yellow: hsl(51, 100%, 88%);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);

    --dark-blue-2: hsl(212, 27%, 19%);
    --dark-grayish-blue: hsl(213, 9%, 39%);
    --grayish-blue: hsl(232, 10%, 55%);
    --light-grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: rgb(37, 37, 37);


    --bg: #3ebfff;
    --hover: #74d5ff;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* background-color: var(--bg); */
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--black);
    /* font-family: 'Fraunces', serif; */
}

li {
    list-style: none;
}

button {
    font-family: 'Fraunces', serif;
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    padding: 1.2rem 2.2rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .1s linear;
    color: var(--dark-blue-2);
}

button:hover {
    background-color: var(--hover);
    color: var(--white);
    transition: all .1s linear;
}


/* Hero section */
.hero__section {
    background: url(./../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 100%;
}

.hero__section nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    color: var(--white);
    padding-top: 2rem;
}

.hero__section nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__section nav ul li {
    margin: 0 2.5rem;
}

.hero__section nav ul li:hover {
    color: var(--dark-blue-2);
    cursor: pointer;
}

.hero__section h1 {
    font-family: 'Fraunces', serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: 1.2rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
}

.hero__text img {
    margin-top: 8rem;
}


/* Grid section */
.grid__section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    /* grid-template-columns: 3fr; */
    max-width: 100%;
    margin: 0 auto;
}

.grid__section img {
    width: 100%;
}


.grid__section .green{
    color: var(--dark-cyan);
}

.grid__section .blue{
    color: var(--dark-blue);
}


.grid__section-overlay{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid__section-overlay img{
    width: 100%;
}


.grid__section-overlay-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 6rem;
    z-index: 10;
}

.grid__section-overlay-text h2{
    font-family: 'Fraunces', serif;
    margin-bottom: 3rem;
}

.grid__section-overlay-text p{
    font-size: 1.4rem;
    font-weight: 600;
}


.grid__section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding-left: 25%;
    width: 100%;
    background-color: var(--white);
}

.grid__section-description h2{
    color: var(--dark-blue-2);
    font-family: 'Fraunces', serif;
    font-size: 4rem;
}

.grid__section-learn h3{
    color: var(--dark-blue-2);
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    z-index: 9;
}

.grid__section-learn{
    cursor: pointer;
}

.grid__section-learn::after {
    content: '';
    width: 13rem;
    height: 1rem;
    transform: translate(-.7rem, -.8rem);
    z-index: 8;
    border-radius: 2rem;
    background-color: var(--soft-yellow);
}

.grid__section-learn .yellow {
    background-color: var(--soft-yellow);
}

.grid__section-learn .yellow:hover {
    background-color: var(--yellow);
}

.grid__section-learn .red {
    background-color: var(--soft-red);
}

.grid__section-description p{
    color: var(--dark-blue-2);
    margin: 3rem 0;
    color: var(--grayish-blue);
    font-size: 1.6rem;
    line-height: 1.6;
}


/* Client testimonials */

.testimonials__section{
    margin: 10rem 0;
}
 
.testimonials__section h2{
    text-transform: uppercase;
    color: var(--light-grayish-blue);
    font-size: 1.6rem;
    letter-spacing: .5rem;
    font-family: 'Fraunces', serif;
    margin-bottom: 5rem;
    text-align: center;
}

.testimonials__section-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonials__section-text article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    /* justify-content: space-around; */
}

.testimonials__section-text article img{
    width: 5rem;
    border-radius: 50%;
}

.testimonials__section-text article p{
    margin: 3.5rem 0;
    text-align: center;
    font-size: 1.2rem;
    color: var(--grayish-blue);
    font-weight: 600;
    line-height: 2rem;
}

.testimonials__section-text article h3{
    font-family: 'Fraunces', serif;
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark-blue-2);
    font-weight: 800;
    margin-bottom: .5rem;
}

.testimonials__section-text article h4{
    text-align: center;
    font-size: 1rem;
    color: var(--light-grayish-blue);
    font-weight: 600;
}
