@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600;800&family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,900&display=swap');

:root {
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-mod-cyan: hsl(168, 34%, 41%);

    --dark-blue: hsl(212, 27%, 19%);
    --dark-grayish-blue: hsl(213, 9%, 39%);
    --grayish-blue: hsl(232, 10%, 55%);
    --light-rayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    --black: rgb(37, 37, 37);


    --bg: #3ebfff;
    --hover: #74d5ff;
}

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--black);
    /* font-family: 'Fraunces', serif; */
}

li {
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 2rem auto;
    color: var(--white);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li:hover {
    color: var(--black);
    cursor: pointer;
}

button {
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    padding: 1rem 2.4rem;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--hover);
    color: var(--white);
}

section {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

section img {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid black;
}

section h1 {
    font-family: 'Fraunces', serif;
    color: var(--white);
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: .8rem;
}

.hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
}